* {
  border: 0
  padding: 0
  margin: 0
}

table {
  /*border-collapse: collapse;*/
  border-radius: 3px;
  border: 1px solid #ccc;
  border-spacing: 0;
  width: 90%;
  margin: 10px;
}
table a {
  color: #336699;
  display: block;
  text-decoration: none;
}
table a:hover {
  text-decoration: underline;
}
table thead {
  background: linear-gradient(#fff, #eee);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  height: 30px;
}
table thead th {
  border-bottom: 1px solid #ccc;
}
table tbody {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ccc;
  font-size: 12px;
  text-shadow: 0 1px 0 #fff;
}
table th {
  font-weight: normal;
  text-shadow: 0 1px 0 #fff;
}
table th, table td {
  text-indent: 8px;
}
table th {
  text-align: left;
}
table td {
}
table tr {
  height: 36px;
  line-height: 36px;
}
table tbody tr:nth-child(even) {
  background: #fafafa;
}
.entry-title {
  width: 55%;
}

thead {
  color: #444;
  text-shadow: 0 1px 0 #fff
}
thead tr {
  border: 0;
}
tbody {
}
tbody tr {
  background: #fff;
}
tbody tr:nth-child(even) {
  background: #eee;
}
a {
  color: #369
}

